$table-width: 100%;

table {
    width: $table-width;
}

td {
    width: $table-width / 3;
    position: relative;
}

td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

#wrapper {
  width: 10%;
}
