$table-width: 100%;

table {
    width: $table-width;
}

td {
    width: $table-width / 8; // TODO number of rows
    min-width: 30px;
    position: relative;
}

td:after {
    content: '';
    display: block;
}

td.fa {
  display: table-cell;
}

#wrapper {
  width: 10%;
}
