$table-width: 100%;

table {
    width: $table-width;
}

td {
    width: $table-width / 8;
    position: relative;
}

td:after {
    content: '';
    display: block;
    margin-top: 100%;
}

td.fa {
  display: table-cell;
}

#wrapper {
  width: 10%;
}
