table {
  width: 100%; }

td {
  width: 12.5%;
  position: relative; }

td:after {
  content: '';
  display: block;
  margin-top: 100%; }

td.fa {
  display: table-cell; }

#wrapper {
  width: 10%; }
