$table-width: 100%;

table {
    width: $table-width;
}

td {
    width: $table-width / 8; // TODO number of rows
    min-width: 30px;
    position: relative;

    button {
      width: 100%;
      height: 100%;
    }

    button.sweeped {
      box-shadow: inset 0px 0px 10px rgba(0,0,0,0.7);
    }
}

td:after {
    content: '';
    display: block;
}

td.fa {
  display: table-cell;
}

#wrapper {
  width: 10%;
}
